#
# {{ ansible_managed }}
#

[Unit]
Description=NUT Prometheus Exporter
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
ExecStart={{ nut_exporter_bin_path }} --log.level={{ nut_exporter_log_lvl }} --log.format={{ nut_exporter_log_format }} --web.listen-address={{ nut_exporter_web_listen_addr }} {{ nut_exporter_exrtra_cmdline_flags if nut_exporter_exrtra_cmdline_flags != '' }}
Restart=on-failure
RestartSec=20

# workaround for not having a config file
EnvironmentFile={{ nut_exporter_config_dir }}/nut-exporter-env

User={{ nut_exporter_unix_user }}
Group={{ nut_exporter_unix_group }}

# security
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
