NUT_EXPORTER_SERVER="{{ nut_exporter_server }}"
NUT_EXPORTER_SERVERPORT="{{ nut_exporter_serverport }}"
NUT_EXPORTER_USERNAME="{{ nut_exporter_username }}"
NUT_EXPORTER_PASSWORD="{{ nut_exporter_password }}"

NUT_EXPORTER_VARIABLES="{{ nut_exporter_vars_enable }}"
NUT_EXPORTER_ON_REGEX="{{ nut_exporter_on_regex }}"
NUT_EXPORTER_OFF_REGEX="{{ nut_exporter_off_regex }}"
NUT_EXPORTER_STATUSES="{{ nut_exporter_statuses }}"
NUT_EXPORTER_METRICS_NAMESPACE="{{ nut_exporter_metrics_namespace }}"
NUT_EXPORTER_WEB_TELEMETRY_PATH="{{ nut_exporter_web_telemetry_path }}"
NUT_EXPORTER_WEB_EXPORTER_TELEMETRY_PATH="{{ nut_exporter_web_exporter_telemetry_path }}"
